<div class="row">
  <div class="col-sm-8">
    <h1>BOOK BLOG | All Posts</h1>
  </div>
  <div class="col-sm-4">
    <form>
      <div class="form-group">
        <label for='filter'>Filter By:</label>
        {{#x-select class="form-control" value=filter id="filter" action='selectCategory'}}
          {{#x-option value="all"}}All{{/x-option}}
          {{#x-option value="scifi"}}Sci-Fi{{/x-option}}
          {{#x-option value="fantasy"}}Fantasy{{/x-option}}
          {{#x-option value="histfict"}}Historical Fiction{{/x-option}}
          {{#x-option value="thriller"}}Thriller/Horror{{/x-option}}
          {{#x-option value="romance"}}Romance{{/x-option}}
          {{#x-option value="nonfiction"}}Non-Fiction{{/x-option}}
        {{/x-select}}
      </div>
    </form>
  </div>
</div>
<div class="row">
  {{#each model.posts as |post|}}
    {{#if (or (eq selectedCategory post.category) (eq selectedCategory 'all'))}}
      <div class="page-header">
        <img src={{post.image}}>
        <h2>{{#link-to "full-post" post.id}}{{post.title}}{{/link-to}} by {{post.author}}</h2>
        <div class="row">
          <div class="col-sm-9">
            <p>{{post.text}}</p>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>

{{new-post save="save"}}
