<h2>Comments</h2>

  <ul>
    {{#each comments as |comment|}}
      <div class="page-header">
        <li><h4>{{comment.commentText}} - {{comment.user_name}}</h4></li>
        <button {{action 'deleteComment' comment}}>Delete</button>
        {{#if showUpdateComment}}
          <form>
            <div class="form-group">
              <label for="user_name">Name</label>
              {{input value=user_name id="user_name" class="form-control"}}
            </div>
            <div class="form-group">
              <label for="commentText">Comment</label>
              {{input value=commentText id="commentText" class="form-control"}}
            </div>
            <button {{action 'updateComment' comment}}>Submit</button>
          </form>
        {{else}}
        <button {{action 'showEditForm' comment}}>Update</button>
        {{/if}}
      </div>
    {{/each}}
    {{new-comment post=post saveComment="saveComment"}}
  </ul>
