<h1>{{model.title}}</h1>
<h3>{{model.author}}</h3>
<p>{{model.text}}</p>
<div class="row picRow">
  <div class="col-sm-6">
    <img src={{model.image}}>
  </div>
  <div class="col-sm-6 commentColumn">
    <div class="commentBox">
      {{list-comments post=model comments=model.comments deleteComment="deleteComment" updateComment="updateComment" saveComment="saveComment"}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-1">
    <button class="btn btn-danger inline" {{action "delete" model}}>Delete</button>
  </div>
  <div class="col-sm-5">
    {{update-post post=model update="update"}}
  </div>
</div>
