<h1>BOOK BLOG | Newest Posts</h1>
{{#each model as |post|}}
  <div class="page-header">
    <img src={{post.image}}>
    <h4>{{post.title}} by {{post.author}}</h4>
    <p>{{post.text}}</p>

    {{#link-to 'full-post' post.id}}View Full Post{{/link-to}}
  </div>
{{/each}}

{{new-post save="save"}}
